<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-home *ngFor="let i of items;index as ix;first as isFirst;last as isLast;odd as isOdd;even as isEven" [index]="ix+1"
  [ngClass]="{'is-first':isFirst,'is-last':isLast,'is-even':isEven,'is-odd':isOdd}" [name]="i.name"
  (passDataEvent)="onPassDAta($event)"></app-home>

{{sample+' other' | titlecase}}

<br />
{{now | date:'yyyy-MMM-dd hh:mm:ss'}}


<p #p appHighlight>
  Element ref
</p>



<app-custom-container >
  <p class="container">
    Paragraph element
  </p>
</app-custom-container>


<app-custom-container>
  <img class="container" src="https://www.gstatic.com/webp/gallery3/1.png" />
</app-custom-container>

<app-custom-container>
  <app-card></app-card>
</app-custom-container>



<h1 style="text-decoration: underline" class="bck-color">Ng template </h1>

<ng-template #element>
  <p>
    Pass to child component - {{sample}}
  </p>
</ng-template>

<app-ng-template-sample [temp]="element">
</app-ng-template-sample>



<p *ngIf="!!sample">

  ng if logical
</p>


<ng-template [ngIf]="!!sample">
  <p >

    ng if logical through ng template
  </p>
  
</ng-template>


<p *appNgXUnless="!sample">

  ng x appNgXUnless custom directives 
</p>

<ng-template [appNgXUnless]="!sample">
  <p>
    ng x appNgXUnless custom directives  through template
  </p>
  
</ng-template>

<app-card>
  <p  class="app-card-desc">Nested data1</p>
</app-card>

<app-card>
  <p  class="app-card-desc">Nested data2</p>
</app-card>


<h2>Service</h2>
<hr/>
{{message}}
 -->

 <app-todos></app-todos>