/* You can add global styles to this file, and also import other style files */
.is-first div{
    border-top: 1px solid black;
}


.is-last div{
    border-bottom: 1px solid black;
}

.is-odd div{
    background-color: aqua;
}

.is-even div{
    background-color: bisque;
}


.highlited{
 /*    -webkit-box-shadow: 10px 10px 5px 0px rgba(232,23,23,0.8);
    -moz-box-shadow: 10px 10px 5px 0px rgba(232,23,23,0.8);
    box-shadow: 10px 10px 5px 0px rgba(232,23,23,0.8); */
    background-color: chartreuse;
}